body {
    background-color: #f9f9fa;
}

.padding {
    padding: 9rem !important ;
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(blue), to(#ee5a6f));
    background: linear-gradient(to right, #360fe4, #ece921);
    padding: 5rem
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}
.padding {
    padding: 2rem !important
}

.button{
    margin-right: 40px;
    
}




/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
/* .rutas-recomendadas {
	margin-bottom: 70px;
  }
  
  .rutas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
  }
  
  .rutas-recomendadas .contenedor-principal .flecha-izquierda,
  .rutas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0, 0, 0, 0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: 0.2s ease all;
  }
  
  .rutas-recomendadas .contenedor-principal .flecha-izquierda:hover,
  .rutas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0, 0, 0, 0.9);
  }
  
  .rutas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
  }
  
  .rutas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
  }
  
  /* ---- ----- ----- Carousel ----- ----- ----- */

  button{
    padding: 10px 33px;
    border-radius: 10px;
    background-color:#f4d03f;
    color: white;
    border-color: transparent;
    box-shadow:  0px 5px 11px -5px;
    cursor: pointer;
    font-weight: 700;
  }
  
  button:hover{
  color:white ;
  border-color: #f4d03f;
  }
  .rutas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
  }
  
  .rutas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
  }
  
  .rutas-recomendadas .contenedor-carousel .carousel .ruta {
	min-width: 20%;
	transition: 0.3s ease all;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .rutas-recomendadas .contenedor-carousel .carousel .ruta.hover {
	transform: scale(1.2);
	transform-origin: center;
  }
  
  .rutas-recomendadas .contenedor-carousel .carousel .ruta img {
	width: 100%;
	vertical-align: top;
  }
  
  /* ---- ----- ----- Media Queries ----- ----- ----- */
  @media screen and (max-width: 800px) {
	header .logotipo {
	  margin-bottom: 10px;
	  font-size: 30px;
	}
  
	header .contenedor {
	  flex-direction: column;
	  text-align: center;
	}
  
	.ruta-principal {
	  font-size: 14px;
	}
  
	.ruta-principal .descripcion {
	  max-width: 100%;
	}
  
	.rutas-recomendadas .contenedor-carousel {
	  overflow: visible;
	}
  
	.rutas-recomendadas .contenedor-carousel .carousel {
	  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	  gap: 20px;
	}
  
	.rutas-recomendadas .indicadores,
	.rutas-recomendadas .flecha-izquierda,
	.rutas-recomendadas .flecha-derecha {
	  display: none;
	}
  }
  
  .ruta_list {
	display: flex;
	background: rgb(58, 53, 56);
	margin: 20px 30px;
	border-radius: 10px;
	margin-top: 0;
  }
  .img_trailer {
	margin: 50px;
	display: flex;
	flex-direction: column;
  }
  .info_descripcion p,
  .info p {
	margin: 10xp;
  }
  
  .img {
	height: 200px;
	border-radius: 10px;
	
  }
  .trailer {
	padding: 5px 10px;
	background-color: rgb(157, 221, 105);
	margin: 20px;
	width: 100px;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
	text-align: center;
  }
  
  .descripcion {
	background-color: rgb(42, 71, 58);
	padding: 10px;
	color: white;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .descripcion_1 {
	background-color: rgb(42, 71, 58);
	padding: 10px;
	color: white;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .info_descripcion_1 p,
  .info p {
	margin: 10xp;
  }


/**/
.main{
    background-color: #0030b7;
}

  .pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #f4d03f;
	background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
	  url(https://d3jozre5pzyq54.cloudfront.net/wp-content/uploads/2018/08/Road-bike-1024x768.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
  }
  
  .pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
  }
  
  .pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
  }
  
  .pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
    background-color:  white;
    color:  #0030b7;
    box-shadow: 5px 5px 10px #0030b7;
  }
  .pelicula-principal .descripcion:hover{
    
    border-color: #f4d03f;
    }
  
  .pelicula-principal .boton {
	background: #f4d03f;
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: 0.3s ease all;
	font-size: 1.12em;
  }
  
  .pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
  }
  
  .pelicula-principal .boton i {
	margin-right: 1.25em;
  } */


  /* ---- ----- ----- Location ----- ----- ----- */



  
.calculate{
  padding: 10px;
  width: 100%;
  max-width: 480px;
  border-radius: 6px;
  background-color: #f4d03f;
  color: var(--color-white);
  font-size: 14px;
  font-weight: bold;
}
  
.origin{
  border-radius: 3px;
  padding: 0.4rem;
  font-family:'Times New Roman', Times, serif;
  font-size: 14px;
}
.duration{
  margin: 2%;
  font-family:'Times New Roman', Times, serif;
  font-size:large;
}

.icon{
  color:#0030b7;
  background-color: white;
 
}
.icom.hover{
  font-weight: bold;
  color:#0030b7;
}

